.MainForm {
  height: 75vh;

  display: flex;
  flex-direction: column;

  background: #131418;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    height: 95vh;
  }

  &-Header {
    display: flex;
    justify-content: center;
    background: #1e1f26;
    border-radius: 5px 5px 0px 0px;
    height: 2em;
    &-Leftbar {
      display: inline-flex;
      position: absolute;
      left: 0;
      padding: 0.2vh 0.4vw;
    }
    &-Rightbar {
      display: inline-flex;
      position: absolute;
      right: 0;
      padding: 0.2vh 0.4vw;
    }
    &-Title {
      text-align: center;
      font-size: 1.2em;
      padding: 0.4vh 0;
      user-select: none;
    }
    &-Button {
      margin-top: 0.4vh;
    }
    &-Options {
      padding: inherit;
      cursor: pointer;
      text-align: right;
      user-select: none;
      z-index: 500;
      &-Title {
        margin-bottom: 0.6vh;
      }
      &-Item {
        padding: inherit;
        display: none;
        background: #5a5f73;
      }
    }

    &-Options-Unfold &-Options-Item {
      display: block;
    }
  }

  &-Content {
    height: calc(75vh - 2em);
    overflow: hidden;
    @media screen and (max-width: 767px) {
      height: calc(95vh - 2em);
    }
  }
}

.Footer {
  position: relative;
  top: 0.5em;

  &-Leftbar {
    display: inline-block;
  }

  &-Rightbar {
    display: inline-block;
    position: absolute;
    right: 0;
  }
}
